# Firebase (Client-side — valores públicos)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA2l6XhHJMDcw7o27YxcZIM9qkWhcw1-9I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=worldstagestorebrasil.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=worldstagestorebrasil
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=worldstagestorebrasil.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=959981219973
NEXT_PUBLIC_FIREBASE_APP_ID=1:959981219973:web:2cbe3133f09d28f68179ec
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4L1YD9GRDN

# Firebase Admin SDK (Server-side — obter em: Firebase Console → Project Settings → Service Accounts)
FIREBASE_PROJECT_ID=worldstagestorebrasil
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-XXXXX@worldstagestorebrasil.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
